HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
./web/admin-ui/node_modules/
./web/admin-ui/dist/
./web/admin-ui/.env
/web/admin-ui/node_modules/*
/web/admin-ui/dist/*
.DS_Store
eat_food/src/main/java/com/tutu/.DS_Store
