<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tutu.admin_user.mapper.AdRolePermissionMapper">

    <!-- 批量插入角色权限关联 -->
    <insert id="batchInsert" parameterType="java.util.List">
        INSERT INTO role_permission (id, role_id, permission_id, create_time, update_time, create_by, update_by, is_deleted)
        VALUES
        <foreach collection="adRolePermissions" item="item" separator=",">
            (#{item.id}, #{item.roleId}, #{item.permissionId}, #{item.createTime}, #{item.updateTime}, #{item.createBy}, #{item.updateBy}, '0')
        </foreach>
    </insert>

</mapper>
