<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tutu.recycle.mapper.RecycleOrderMapper">

    <select id="selectTransportOrders" resultType="com.tutu.recycle.entity.order.RecycleOrder">
        SELECT
            ro.*,uo.no as parent_code
        FROM recycle_order ro
        left join user_order uo on ro.parent_id = uo.id
        WHERE ro.is_deleted = '0' AND ro.type = 'transport'
        <if test="transportStatus != null and transportStatus != ''">
            AND ro.transport_status = #{transportStatus}
        </if>
        <if test="processorId != null and processorId != ''">
            AND ro.processor_id = #{processorId}
        </if>
        ORDER BY ro.create_time DESC
    </select>

    <select id="selectMyPendingSortingList" resultType="com.tutu.recycle.entity.order.RecycleOrder">
        select rc.*, uo.no as parent_code from recycle_order rc
                 left join user_order uo on rc.parent_id = uo.id
        where rc.is_deleted = 0
        and rc.type = 'process'
        and rc.sorting_status = 'pending'
        and rc.processor_id = #{processorId}
        order by rc.create_time desc
    </select>


</mapper>

