<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tutu.recycle.mapper.UserOrderMapper">

    <!-- 查询可抢单的用户订单 -->
    <select id="selectAvailableTransportOrders" resultType="com.tutu.recycle.response.WxTransportOrderListResponse">
        SELECT uo.id,
               uo.contract_partner_name as company,
               ro.delivery_address,
               ro.processor,
               ro.processor_phone,
               ro.site_name as pickupAddress
        FROM user_order uo
                 LEFT JOIN recycle_order ro ON uo.id = ro.parent_id AND ro.type = 'purchase'
        WHERE uo.stage = 'transport'
          AND NOT EXISTS (
            SELECT 1
            FROM recycle_order ro
            WHERE ro.parent_id = uo.id
              AND ro.type = 'transport'
        )
        ORDER BY uo.create_time DESC
    </select>

    <!-- 查询分拣交付大厅订单 -->
    <select id="selectSortingDeliveryHallOrders" resultType="com.tutu.recycle.response.SortingDeliveryHallResponse">
        SELECT uo.id,
               uo.no,
               uo.contract_partner_name AS company,
               ro.site_name AS pickupAddress,
               ro.delivery_address AS deliveryAddress,
               ro.processor AS contactName,
               ro.processor_phone AS contactPhone
        FROM user_order uo
            LEFT JOIN recycle_order ro
                           ON ro.parent_id = uo.id
        WHERE uo.stage = 'processing'
          AND NOT EXISTS (
            SELECT 1
            FROM recycle_order ro
            WHERE ro.parent_id = uo.id
              AND ro.type = 'process'
        )
        ORDER BY uo.create_time DESC
    </select>

    <!-- 查询送货上门的分拣交付大厅订单 -->
    <select id="selectSortingHomeDeliveryHallOrders" resultType="com.tutu.recycle.response.SortingDeliveryHallResponse">
        SELECT uo.id,
               uo.no,
               uo.contract_partner_name AS company,
        ro.site_name AS pickupAddress,
        ro.delivery_address AS deliveryAddress,
        ro.processor AS contactName,
        ro.processor_phone AS contactPhone
        FROM user_order uo
                 LEFT JOIN recycle_order ro
                           ON ro.parent_id = uo.id
        WHERE uo.stage = 'processing'
          AND uo.transport_method = 'home_delivery'
        AND ro.type = 'process'
        <if test="processorId != null and processorId != ''">
          AND ro.processor_id = #{processorId}
        </if>
        ORDER BY uo.create_time DESC
    </select>

</mapper>
