<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<Properties xmlns="http://schemas.openxmlformats.org/officeDocument/2006/extended-properties" xmlns:vt="http://schemas.openxmlformats.org/officeDocument/2006/docPropsVTypes"><Pages>2</Pages><Words>516</Words><Characters>596</Characters><Lines>1</Lines><Paragraphs>1</Paragraphs><TotalTime>0</TotalTime><ScaleCrop>false</ScaleCrop><LinksUpToDate>false</LinksUpToDate><CharactersWithSpaces>625</CharactersWithSpaces><Application>WPS Office WWO_wpscloud_20251119194033-e37bccecd3</Application><DocSecurity>0</DocSecurity></Properties>